#hackIt {
  margin-top: 33vh;
  font-size: 10rem;
  font-weight: 500;
  user-select: none;
}

#read {
  margin-top: 16vh;
  background: transparent;
  color: #f2f2f2;
  opacity: 0.95;
  font-size: 1.2rem;
  font-family: "Play", sans-serif;
  transition: 0.4s ease-in-out;
  animation: fadein 2.5s;
  display: none;
}

#read:hover {
  opacity: 0.7;
}

.fadeIn {
  animation: fadein 2.8s;
}

.glitch {
  animation: glitch 2800ms infinite;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes glitch {
  35% {
    text-shadow: none;
    opacity: 0.9;
  }

  50% {
    opacity: 1;
    text-shadow: -0.005em 0 0 rgba(250, 0, 0, 0.4),
      -0.005em -0.005em 0 rgba(0, 250, 0, 0.4),
      0 0 -0.005em rgba(0, 0, 250, 0.4);
  }

  64% {
    text-shadow: 0.025em 0 0 rgba(250, 0, 0, 0.4),
      0 0.025em 0 rgba(0, 250, 0, 0.4), 0 0 0.025em rgba(0, 0, 250, 0.4);
  }

  70% {
    text-shadow: 0.05em 0 0 rgba(250, 0, 0, 0.4),
      -0.02em 0 0 rgba(0, 250, 0, 0.4), 0 -0.05em 0 rgba(0, 0, 250, 0.4);
  }

  74% {
    text-shadow: -0.05em 0 0 rgba(250, 0, 0, 0.4),
      -0.02em -0.02em 0 rgba(0, 250, 0, 0.4),
      -0.05em -0.02em 0 rgba(0, 0, 250, 0.4);
  }

  75% {
    text-shadow: -0.05em 0 0 rgba(250, 0, 0, 0.4),
      -0.02 -0.02em 0 rgba(0, 250, 0, 0.4),
      -0.05em -0.02em 0 rgba(0, 0, 250, 0.4);
  }

  84% {
    text-shadow: 0.02em 0 0 rgba(250, 0, 0, 0.4),
      0.025em 0.05em 0 rgba(0, 250, 0, 0.4),
      -0.02em -0.025em 0 rgba(0, 0, 250, 0.4);
  }

  85% {
    text-shadow: 0.02em 0 0 rgba(250, 0, 0, 0.4),
      0.025em 0.025em 0 rgba(0, 250, 0, 0.4),
      -0.02em -0.05em 0 rgba(0, 0, 250, 0.4);
  }

  89% {
    text-shadow: -0.025em 0 0 rgba(250, 0, 0, 0.4),
      0 -0.05em 0 rgba(0, 250, 0, 0.4), 0 0 -0.025em rgba(0, 0, 250, 0.4);
  }

  90% {
    text-shadow: 0.05em 0 0 rgba(250, 0, 0, 0.4),
      -0.02em 0 0 rgba(0, 250, 0, 0.4), 0 -0.05em 0 rgba(0, 0, 250, 0.4);
  }

  94% {
    text-shadow: 0.025em 0 0 rgba(250, 0, 0, 0.4),
      0 0.025em 0 rgba(0, 250, 0, 0.4), 0 0 0.025em rgba(0, 0, 250, 0.4);
  }

  97% {
    text-shadow: -0.005em 0 0 rgba(250, 0, 0, 0.4),
      0 -0.05em 0 rgba(0, 250, 0, 0.4), 0 0 -0.005em rgba(0, 0, 250, 0.4);
  }

  100% {
    text-shadow: 0.005em 0 0 rgba(250, 0, 0, 0.4),
      -0.005em 0 0 rgba(0, 250, 0, 0.4), 0 -0.005em 0 rgba(0, 0, 250, 0.4);
  }
}
