body {
  background-color: #1a1a1d;
  color: #f2f2f2;
}

h1 {
  font-family: "Megrim", cursive;
  font-size: 4.5rem;
}

footer {
  font-size: 0.9rem;
  opacity: 0.9;
  color: #f2f2f2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: #454548;
  border-radius: 100vw;
}
